<body id="produtos">
    <%- include('../layouts/header') %>
    <%- include('../layouts/navbar') %>
    <div class="container">
        <h2>Produtos</h2>
        <div style="display: flex; gap: 10px;">
            <p id="cadastro" onclick="showCadastro()">Cadastro</p>
            <p id="lista"  onclick="showLista()">Lista</p>
        </div>
    
        <main>
            <section id="cadastro">
                <form action="/cadastrarProd" method="POST" id="formCadProd">
                    <div>
                        <p><strong>CADASTRO DO PRODUTO</strong></p>

                        <input type="text" name="nomeProd" id="nome" placeholder="Nome" required>
                        <input type="number" name="preco" id="preco" placeholder="Preço" step="0.01" required>
                        <input type="text" name="fornecedor" id="fornecedor" placeholder="Fornecedor" required>
                        <input type="number" name="quantidade" id="quantidade" placeholder="Quantidade" required>

                        <select name="categoria" id="catedoria" required>
                            <option>Categoria</option>
                            <option value="Varejo">Varejo</option>
                            <option value="Informática">Informática</option>
                            <option value="Eletrodoméstico">Eletrodoméstico</option>
                            <option value="Alimentos">Alimentos</option>
                            <option value="Móveis">Móveis</option>
                            <option value="Eletrônico">Eletrônico</option>
                            <option value="Game">Game</option>
                        </select>

                        <textarea name="descricao" id="descricao" placeholder="Descrição" required></textarea>
                        <button type="submit">CADASTRAR</button>
                    </div>   
                </form>
            </section>




            
            <section id="lista">
                <div id="formsProd">
                    <form method="POST" action="/filtroProd" id="formProd">
                        <select name="categoria" id="filtro"  onchange="filtrar(this.value)">
                            <option>Categoria</option>
                            <option value="todos">Todos</option>
                            <option value="Varejo">Varejo</option>
                            <option value="Informática">Informática</option>
                            <option value="Eletrodoméstico">Eletrodoméstico</option>
                            <option value="Alimentos">Alimentos</option>
                            <option value="Móveis">Móveis</option>
                            <option value="Game">Game</option>
                        </select>  
                    </form>

                    <form action="/pesquisarProd" method="POST">
                        <input type="number" name="pesquisado" placeholder="Pesquisar">
                        <button type="submit">Pesquisar</button> 
                    </form>
                </div>
            </section>

            
        </main>
    </div>
    <div id="listaProd">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>PRODUTO</th>
                    <th>PREÇO</th>
                    <th>QTD</th>
                    <th>FORNECEDOR</th>
                    <th>CATEGORIA</th>
                    <th>DESCRIÇÃO</th>
                    <th>AÇÃO</th>
                </tr>
            </thead>

            <tbody>
                <% produtos.forEach(produto=>{ %>
                    <tr>
                        <td><%=produto.id%></td>
                        <td><%=produto.nomeProd%></td>
                        <td><%=produto.preco%></td>

                        <%if(produto.quantidade < 1){%>
                            <td style="color: red;"><%=produto.quantidade%></td>
                        <%}else{%>
                            <td><%=produto.quantidade%></td>
                        <%}%>

                        
                        <td><%=produto.fornecedor%></td>
                        <td><%=produto.categoria%></td>
                        <td style="width: 200px; height: 200px; overflow-y: scroll;"><%=produto.descricao%></td>

                        <td style="display: flex;gap: 5px; border: none;">
                            <a href="/edicao-produto/<%= produto.id %>"><button class="btnEditar">Editar</button></a>
                            <form action="/deletarProd/<%= produto.id %>" method="POST" onsubmit="deletarProd(event, this)">
                                <input type="hidden" name="id" value="<%= produto.id %>">
                                <button class="btnApagar" type="submit">Apagar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>




<!--FUNÇÕES DESSA PÁGINA-->
<script>
    function filtrar(value){
        let formProd = document.getElementById("formProd")
        formProd.submit()
    }

    function deletarProd(event, form){
        event.preventDefault()
        let confirmar = confirm("Deseja deletar esse produto?")
        if(confirmar){
            form.submit()
        }
    }
</script>
<%- include('../layouts/footer') %>